<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
</head>

<body bgcolor="#FFFFFF">
<ul data-role="listview">
        <li><a href="#">Acura</a></li>
        <li><a href="#">Audi</a></li>
        <li><a href="#">BMW</a></li>
        <li><a href="#">Cadillac</a></li>
        <li><a href="#">Ferrari</a></li>
</ul>
</body>
</html>