<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <style type="text/css">
        #btm {
            z-index: 999;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            _position: absolute;
            _top: expression_r(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight);
            overflow: visible;
        }
    </style>

    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>

    <script language="JavaScript">
        var auditType = 999;

        dd.ready(function (res) {

        });

        dd.error(function (error) {
            alert("获取钉钉信息出错");
            /*{
             errorCode: 1001, //错误码
             errorMessage: '', //错误信息
             }*/
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开调试窗口的 console查看，也可以在返回的res参数中查看。
        });

        function auditContractOrder() {
            var url = "/audit/contract/agree";
            if (auditType == 0) {
                url = "/audit/contract/backToInit";
            }
            $('#wordsDiv').hide();
            $.post(url,
                    {
                        tableName: $('#table').val(),
                        wfId: $('#procInstId').val(),
                        nodeId: $('#preArrprovId').val(),
                        remark: $('#approveWords').val(),
                        key: $('#keyValue').val()
                    },
                    function (data, status) {
                        if (data.res) {
                            self.location = "/htdetail/" + $('#table').val() + "/" + $('#procInstId').val() + "/" + $('#userid').val() + "/only";
                        } else {
                            alert(data.msg);
                        }
                    });
        }

        function auditOrder() {
            var url = "/audit/agree";
            if (auditType == 0) {
                url = "/audit/backToInit";
            }
            $('#wordsDiv').hide();
            $.post(url,
                    {
                        table: $('#table').val(),
                        assignid: $('#assignid').val(),
                        userid: $('#userid').val(),
                        procInstId: $('#procInstId').val(),
                        preArrprovId: $('#preArrprovId').val(),
                        remark: $('#approveWords').val(),
                        msg: $('#msg').val(),
                        keyValue: $('#keyValue').val(),
                        msgName: $('#msgName').val()
                    },
                    function (data, status) {
                        if (data) {
                            self.location = "/detail/" + $('#table').val() + "/" + $('#assignid').val() + "/only";
                        }
                    });
        }

        function agree() {
            if (auditType == 1) {
                if (!$('#approveWords').val()) {
                    alert("请填写同意意见");
                    return;
                }
                $('#agree').prop('disabled', true);
                $('#back').prop('disabled', true);
                if ($('#table').val() == "t_con_contract" ||
                        $('#table').val() == "t_con_pay_apply" ||
                        $('#table').val() == "t_con_change" ||
                        $('#table').val() == "t_con_balance") {
                    auditContractOrder();
                } else {
                    auditOrder();
                }
            } else {
                auditType = 1;
                $('#approveWords').attr('placeholder', "请填写同意意见");
                $('#wordsDiv').show();
            }
        }

        function showImg(url) {
//            if(dd){  "ios":false,"android"
            if (dd.ios || dd.android) {
                dd.biz.util.openLink({
                    url: url,
                    onSuccess: function (res) {
                    },
                    onFail: function (err) {
                    }
                });
            } else {
                //不是钉钉,就是在浏览器下,直接打开链接
                window.open(url)
            }

            return;
        }

        function back() {
            if (auditType == 0) {
                if (!$('#approveWords').val()) {
                    alert("请填写打回意见");
                    return;
                }
                $('#back').prop('disabled', true);
                $('#agree').prop('disabled', true);
                if ($('#table').val() == "t_con_contract" ||
                        $('#table').val() == "t_con_pay_apply" ||
                        $('#table').val() == "t_con_change" ||
                        $('#table').val() == "t_con_balance") {
                    auditContractOrder()
                } else {
                    auditOrder();
                }
            } else {
                auditType = 0;
                $('#approveWords').attr('placeholder', "请填写打回意见");
                $('#wordsDiv').show();
            }
        }
    </script>

</head>

<body bgcolor="#FFFFFF">
<div>
    <!--点击图标与在线-->
    <input type="hidden" id="table" value="<%= table %>">
    <input type="hidden" id="assignid" value="<%= assignid %>">
    <input type="hidden" id="procInstId" value="<%= procInstId %>">
    <input type="hidden" id="preArrprovId" value="<%= preArrprovId %>">
    <input type="hidden" id="msg" value="<%= msg %>">
    <input type="hidden" id="msgName" value="<%= msgName %>">
    <input type="hidden" id="keyValue" value="<%= keyValue %>">
    <input type="hidden" id="userid" value="<%= userid %>">
    <div style="height: 120px; display: inline;position: relative;">
        <div class="textBg">
            <div><span style="color: #ffffff; font-size: 12px"><%= page.top.name %></span></div>
        </div>
        <div style="padding-left: 60px"><span style="font-size : 20px"><%= page.top.fullname %></span>
        </div>
        <div style="padding-left: 60px;"><span style="font-size : 18px;color: #7D9029"><%= page.top.status %></span>
        </div>
    </div>
    <div style="margin-top: 3px; width:100%;  height:1px;  background:#bbbbbb;  line-height:1px;">
    </div>
    <div>
        <ul style="padding-left: 0px">
            <% page.middle.forEach(function(data, i){ %>
            <li><span style="color: #bbbbbb; font-size:20px"><%= data.title %>:</span><span style="font-size : 20px">&nbsp;&nbsp;&nbsp;&nbsp;<%= data.text %></span>
            </li>
            <% }) %>
        </ul>
    </div>
    <div style="width:100%;  height:1px;  background:#bbbbbb;  line-height:1px;">
    </div>

    <div>
        <span style="color: #bbbbbb; font-size:20px">附件:</span>
        <% if(page.attach){ page.attach.forEach(function(fdata, k){ %>
        &nbsp;<a onclick="showImg('<%= fdata.fUrl %>')" href="#"><img src="/images/file.gif"/><%= fdata.fName %></a>
        <% })} %>
    </div>
    <div style="width:100%;  height:1px;  background:#bbbbbb;  line-height:1px;">
    </div>


    <div id="wordsDiv" style="display: none">
        <div>
            <textarea id="approveWords" cols="100" rows="3"></textarea>
        </div>
    </div>

    <% page.bottom.forEach(function(ddata, j){ %>
    <% if(ddata.imgDiv){ %>
    <div style="margin-top: 20px; margin-left: 18px; position: absolute"><img src="/images/downArrow.png" width="10px"
                                                                              height="20px"></div>
    <% } %>
    <div style="margin-top: <%= ddata.margin %>px;">
        <div class="textBg">
            <div><span style="color: #ffffff; font-size:12px"><%= ddata.name %></span></div>
        </div>
        <div style="padding-left: 50px;padding-top: 1px; font-size:20px"><span
                    style="font-size : 14px"><%= ddata.item %> <%= ddata.result %></span>
        </div>
        <div style="padding-left: 50px; float: left; font-size:20px"><span
                    style="font-size : 12px; color: #7D9029"><%= ddata.remark %></span></div>
        <div style="float: right; font-size:20px; margin-top: -27px"><span
                    style="font-size : 12px"><%= ddata.date %><br><%= ddata.time %></span>
        </div>
    </div>
    <% }) %>

    <div style="margin-top: 65px"></div>

</div>

<% if(showSubmit){ %>
<div id="btm">
    <button id="agree" style="width: 49%;background-color: #999900; font-size: 32px" onclick="agree()">同意</button>
    <button id="back" style="width: 49%;background-color: #999900; font-size: 32px" onclick="back()">打回发起人</button>
</div>
<% } %>
</body>
</html>