<!DOCTYPE html>
<!--<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.theme-1.4.5.min.css">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.icons-1.4.5.min.css">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.structure-1.4.5.min.css">
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
</head>-->

<html class="ui-mobile">
<head>
    <title><%= title %></title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listview - jQuery Mobile Demos</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
</head>


<body>
<div data-role="page" class="jqm-demos ui-page ui-page-theme-a ui-page-active" data-quicklinks="true">
    <div id="tabs-org"
         style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical; padding:0px 0 2px 0"
         aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content"
         aria-hidden="false">
        <!--点击图标与在线-->
        <div class="funModule">
            <ul>
                <li id="waitLi" style="list-style-type:none; background-color: #002fec; padding: 0px 0px 0px 0px"
                    onclick="goToWait();">
                    <img width="70px" height="70px" src="/images/wait.png"><br>
                </li>
                <li id="myLi" style="list-style-type:none; padding: 0px 0px 0px 0px" onclick="goToMy();">
                    <img width="70px" height="70px" src="/images/myStart.png"></li>
            </ul>
        </div>

        <div data-demo-html="true">
            <ul data-role="listview" class="ui-listview">

                <li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                       onclick="gotoPage('SD_FDC_HT')">合同审批 <span
                                id="SD_FDC_HT">(0)</span></a>
                </li>
                <li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                       onclick="gotoPage('SD_FDC_HTHBD')">合同付款申请 <span
                                id="SD_FDC_HTHBD">(0)</span></a></li>
                <li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                       onclick="gotoPage('SD_HT_BGQZ')">合同变更 <span
                                id="SD_HT_BGQZ">(0)</span></a></li>
                <li><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                       onclick="gotoPage('SD_FDC_JSD')">合同结算 <span
                                id="SD_FDC_JSD">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('PAEZ_HY_ZLHT')">租赁合同 <span
                                id="PAEZ_HY_ZLHT">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('PAEZ_HY_HTYSD')">合同预审单 <span
                                id="PAEZ_HY_HTYSD">(0)</span></a>
                </li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('SAL_OUTSTOCK')">资产销售单 <span
                                id="SAL_OUTSTOCK">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('CN_PAYAPPLY')">付款申请单 <span
                                id="CN_PAYAPPLY">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('1c6e00b8e8fc4ca1a8086ad7e09d0437')">中标通知书<span
                                id="ZB">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('PUR_Requisition')">采购申请单<span
                                id="PUR_Requisition">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('PUR_PurchaseOrder')">采购订单<span
                                id="PUR_PurchaseOrder">(0)</span></a></li>
                <li style="margin-top: 3px"><a href="#" class="ui-btn ui-btn-icon-right ui-icon-carat-r"
                                               onclick="gotoPage('STK_InStock')">采购入库单<span
                                id="STK_InStock">(0)</span></a></li>
                    
            </ul>
        </div>

    </div>
</div>
</body>


</html>
<script language="JavaScript">

    var empid = null;
    var wait = 1;
    //empid = "046755360824281270"// "manager2676" zjm  // "154660504932546264" huxiaohong; // "01452661422830"; // 孔静
//    empid = "1138062124696382";
//    $.get("/summary/" + empid,
//            function (data, status) {
//                d = data;
//                showItems();
//            });
    var d = null;
    function showItems() {
        $("#SD_FDC_HT").text("(0)");
        $("#SD_HT_BGQZ").text("(0)");
        $("#SD_FDC_JSD").text("(0)");
        $("#SD_FDC_HTHBD").text("(0)");
        $("#PAEZ_HY_ZLHT").text("(0)");
        $("#PAEZ_HY_HTYSD").text("(0)");
        $("#SAL_OUTSTOCK").text("(0)");
        $("#CN_PAYAPPLY").text("(0)");
        $("#ZB").text("(0)");
        $("#PUR_Requisition").text("(0)");
        $("#PUR_PurchaseOrder").text("(0)");
        $("#STK_InStock").text("(0)");
        if (d) {
            var waitList = d.his;
            if (wait) {
                waitList = d.list;
            }
            for (var i in waitList) {
                $("#" + waitList[i].type).text("(" + (waitList[i].nbrs ? waitList[i].nbrs : 0) + ")");
                if (waitList[i].type == "1c6e00b8e8fc4ca1a8086ad7e09d0437") {
                    $("#ZB").text("(" + (waitList[i].nbrs ? waitList[i].nbrs : 0) + ")");
                }
            }
        }
    }

    function goToERP() {
        window.open("http://192.168.1.60/k3cloud");
    }

    function goToCon() {
        window.open("http://192.168.1.60:8686/");
    }

    function goToWait() {
        $('#waitLi').css("background", "#002fec");
        $('#myLi').css("background", "#FFFFFF");
        wait = 1;
        showItems();
    }

    function goToMy() {
        $('#waitLi').css("background", "#FFFFFF");
        $('#myLi').css("background", "#002fec");
        wait = 0;
        showItems();
    }

    function gotoPage(type) {
        if (empid) {
            if (wait) {
                self.location = "/total/" + empid + "/" + type;
            } else {
                self.location = "/mine/" + empid + "/" + type;
            }
        } else {
            alert("无法获取你的信息,请使用钉钉客户端");
            //for test
        }
    }

    dd.config({
        agentId: '<%= conf.agentId %>', // 必填，微应用ID
        corpId: '<%= conf.corpId %>',//必填，企业ID
        timeStamp: '<%= conf.timeStamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= conf.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= conf.signature %>', // 必填，签名
        jsApiList: ['runtime.info', 'biz.contact.choose',
            'device.notification.confirm', 'device.notification.alert',
            'device.notification.prompt', 'biz.ding.post', 'biz.user.get',
            'biz.util.openLink'] // 必填，需要使用的jsapi列表
    });
    dd.ready(function (res) {
//        alert("dd ok");
//        alert(JSON.stringify(res))
        //获取当前登录人的信息,emplId就是员工的userid
        dd.biz.user.get({
            onSuccess: function (res) {
//                alert("get ok");
//                alert(JSON.stringify(res));
                empid = res.emplId;
                $.get("/summary/" + empid,
                        function (data, status) {
                            d = data;
                            showItems();
                        });

            },
            onFail: function (err) {
                alert('userGet fail: ' + JSON.stringify(err));
            }
        });
    });

    dd.error(function (error) {
        alert("获取钉钉信息出错" + JSON.stringify(error));
        /*{
         errorCode: 1001, //错误码
         errorMessage: '', //错误信息
         }*/
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开调试窗口的 console查看，也可以在返回的res参数中查看。
    });

</script>