<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script>

        function jumpToDetail(obj, key, actor) {
//            alert(obj + "  " + key + "  " + actor);
            if (obj == "t_con_contract" || obj == "t_con_pay_apply" || obj == "t_con_change" || obj == "t_con_balance") {
//                alert("/htdetail/" + obj + "/" + key + "/" + actor + "/only");
                self.location = "/htdetail/" + obj + "/" + key + "/" + actor + "/only";
            }
            else {
                self.location = "/detail/" + obj + "/" + key + "/only";
            }
        }
    </script>
    <title></title>
    <style>
        * {
            padding: 0px;
            margin: 0px;
            list-style: none;
            text-decoration: none;
        }

        .main {
            width: 100%;
        }

        .title {
            background-color: #f9f9f9;
            width: 100%;
            height: 50px;
            border-top: 1px solid #e4e4e4;
            border-bottom: 1px solid #e4e4e4;
            padding-bottom: 5px;
        }

        .titlea {
            height: 100%;
            line-height: 50px;
            width: 100%;
            text-align: center;
            color: #333;
            display: block;
            float: left;
            font-weight: bold;
        }

        .chosed {
            border-bottom: 1px solid #38adff;
            color: #38adff;
        }

        .center {
            background-color: #fff;
            width: 100%;
            height: 50px;
            border-bottom: 1px solid #e4e4e4;
        }

        .serchA {
            height: 100%;
            line-height: 50px;
            width: 50%;
            text-align: center;
            color: #888585;
            display: block;
            float: left;
        }

        .listLeft {
            width: 50px;
            float: left;
            height: 100%;
        }

        .listLeft img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        .listCenter {
            float: left;
            padding-left: 50px;
        }

        .listCenter h4 {
            padding-bottom: 10px;
        }

        .listCenter p {
            color: #adaaaa;
        }

        .listCenter span {
            color: #eaab58;
        }

        .listUl {
            padding: 10px;
        }

        .listRight {
            float: right;
            color: #adaaaa;
            font-size: 30px;
        }
    </style>
</head>
<body>
<div class="main">
    <div class="title">
        <a href="#" style="margin-top: 5px" id="wait" class="titlea chosed"><span
                    style="font-size:22px">我发起的(<%= wait.total %>)</span></a>
    </div>


    <ul id="waitList" class="listUl">

        <% wait.list.forEach(function(data, i){ %>

        <li style="width: 100%; padding-top: 10px; float: left"
            onclick="jumpToDetail('<%= data.objtypeid %>','<%= data.objkey %>','<%= data.userid %>')">
            <div>
                <div class="textBg">
                    <div><span style="color: #ffffff; font-size:12px"><%= data.applyName %></span></div>
                </div>
                <div class="listCenter">
                    <span style="color: #1b1b1b;font-size:20px"><%= data.itemDesc %></span>

                    <% data.textList.forEach(function(iData, j){ %>
                    <p><span style="color: #1b1b1b;font-size:20px"><%= iData %></span></p>
                    <% }) %>
                    <div style="height: 3px"></div>
                    <span style="font-size:20px"><%= data.status %></span>
                    <div style="height: 2px"></div>
                    <span style="color: #1b1b1b;font-size: 20px">已花费 <%= data.usedTime %></span>
                </div>

            </div>
        </li>
        <% }) %>
    </ul>

</div>
</body>
</html>