<!DOCTYPE html>
<!--<html>
<head>
    <title><%= title %></title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css"/>
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.theme-1.4.5.min.css">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.icons-1.4.5.min.css">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile.structure-1.4.5.min.css">
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://g.alicdn.com/dingding/open-develop/1.6.9/dingtalk.js"></script>
</head>-->

<html class="ui-mobile">
<head>
    <title><%= title %></title>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listview - jQuery Mobile Demos</title>
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="/jqueryMobile/jquery.mobile-1.4.5.min.css">
    <link rel="stylesheet" href="/stylesheets/mapView.css">
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.8.1.min.js"></script>
    <script src="https://g.alicdn.com/dingding/dingtalk-pc-api/2.7.0/index.js"></script>
</head>


<body>
<div data-role="page" class="jqm-demos ui-page ui-page-theme-a ui-page-active" data-quicklinks="true">
    <div id="tabs-org"
         style="-webkit-box-flex: 1; display: -webkit-box; -webkit-box-orient: vertical; padding:0px 0 2px 0"
         aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content"
         aria-hidden="false">
        <!--点击图标与在线-->
        <div class="pcModule">
            <ul>
                <li id="myLi" style="list-style-type:none; padding: 20px 10px 0px 60px" onclick="goToERP();">
                    <img width="280px" height="280px" src="/images/erp.png">
                </li>
                <li id="myLi" style="list-style-type:none; padding: 20px 400px 0px 80px" onclick="goToCon();">
                    <img width="280px" height="280px" src="/images/contract.png"></li>
            </ul>
            <ul>
                <li id="myLi" style="list-style-type:none; text-align: center; padding: 20px 10px 0px 60px" onclick="goToERP();">
                   <span style="padding: 500px 0px 0px 70px">ERP信息管理系统</span>
                </li>
                <li id="myLi" style="list-style-type:none; padding: 20px 0px 0px 80px" onclick="goToCon();">
                    <span style="padding: 500px 0px 0px 170px">合同管理系统</span></li>
            </ul>
        </div>

    </div>
</div>
</body>


</html>
<script language="JavaScript">

    function goToERP() {
//        window.open("http://192.168.1.60/k3cloud");
        DingTalkPC.biz.util.openLink({
            url: "http://192.168.1.60/k3cloud",//要打开链接的地址
            onSuccess: function (result) {
                /**/
                //alert('success');
            },
            onFail: function () {
                //alert('failed');
            }
        });
    }

    function goToCon() {
//        window.open("http://192.168.1.60:8686/");
        DingTalkPC.biz.util.openLink({
            url: "http://192.168.1.60:8686/",//要打开链接的地址
            onSuccess: function (result) {
                /**/
                //alert('success');
            },
            onFail: function () {
                //alert('failed');
            }
        });
    }

    DingTalkPC.config({
        agentId: '<%= conf.agentId %>', // 必填，微应用ID
        corpId: '<%= conf.corpId %>',//必填，企业ID
        timeStamp: '<%= conf.timeStamp %>', // 必填，生成签名的时间戳
        nonceStr: '<%= conf.nonceStr %>', // 必填，生成签名的随机串
        signature: '<%= conf.signature %>', // 必填，签名
        jsApiList: ['device.notification.alert', 'biz.util.openLink'] // 必填，需要使用的jsapi列表
    });
    DingTalkPC.ready(function (res) {
        //获取当前登录人的信息,emplId就是员工的userid
        DingTalkPC.device.notification.alert({
            message: JSON.stringify(res),
            title: "提示",//可传空
            buttonName: "收到",
            onSuccess: function () {
                /*回调*/
            },
            onFail: function (err) {
            }
        });
    });

    DingTalkPC.error(function (error) {
//        DingTalkPC.device.notification.alert({
//            message: JSON.stringify(error),
//            title: "提示",//可传空
//            buttonName: "收到",
//            onSuccess: function () {
//                /*回调*/
//            },
//            onFail: function (err) {
//            }
//        });
        /*{
         errorCode: 1001, //错误码
         errorMessage: '', //错误信息
         }*/
        // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开调试窗口的 console查看，也可以在返回的res参数中查看。
    });

</script>