body {
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.textBg {
    background: #44aa44;
    width: 40px;
    height: 40px;
    border: 3px solid #FFF;
    -webkit-border-radius: 100px;
    position: absolute;
    text-align: center;
    line-height: 40px;
}
